@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

:root {
    --swiper-theme-color: #e5e5e5 !important;
}

html,body {
    overflow-x: hidden;
}
body {
    background: #141414;
    color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler-custom-icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -9.5px) rotate(45deg);
}
.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}


.swiper-container {
    overflow: visible;
    height: 200px;
}

p {
    font-size: 1.7rem;
    font-weight: 500;
}
.swiper-slide {
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}

.swiper-slide img {
    border-radius: 5px;
    max-width: 18rem;
    cursor: grab;
}

.swiper-slide img:active {
    cursor: grabbing;
}

.swiper-slide:hover {
    transform: scale(1.3);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1;
}

.swiper-slide:hover img {
    transition-delay: 300ms;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
.nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: white;
    transition: 0.2s;
}
.nav-item.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}
.nav-item:hover::after {
    width: 100%;
}
.bg-nav {
    background-color: #1a1919;
}

/* Keep image + title stuck together */
.slide-card{
  display:flex;
  flex-direction:column;
  text-decoration:none; /* remove underline */
  height:100%;
}

/* Make all images same visual height to prevent title jumping */
.slide-img{
  width:100%;
  aspect-ratio:16/9;   /* change to 2/3 if you want poster shape */
  object-fit:cover;
  display:block;
  border-radius:8px;   /* optional */
}

/* Title spacing stays consistent */
.slide-title{
  margin-top:8px;
  line-height:1.2;
  /* Optional: stop long titles from pushing layout */
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

@media screen and (max-width: 599px) {
    .swiper-slide img {
        max-width: 14rem;
    }
}

@media screen and (max-width: 399px) {
    .swiper-slide img {
        max-width: 10rem;
        border-radius: 2px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
    .swiper-slide img {
        max-width: 8.5rem;
        border-radius: 2px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
    .swiper-slide img {
        max-width: 11rem;
        border-radius: 2px;
    }
}


